<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= book.title %></title>
    <link type="text/css" rel="stylesheet"  href="/style/ratingicons.css">
    <link type="text/css" rel="stylesheet" href="/style/main.css">
    <link type="text/css" rel="stylesheet" href="/style/notes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:wght@200;400&display=swap" rel="stylesheet">
</head>
<body>
        
    <div class="bookcard">
        <div class="section1">
         <div class="cover">
          <img src=<%= book.image %> alt="Book Cover" class="coverimg">
         </div>
  
         <div class="bookinfo">
           <h2 class="title"><%= book.title %> - <span class="author"><%= book.author %></span></h2>
           <h4 class="gen">Gen: <%= book.type %></h4>
           <div class="rating">
             <% for(let i=0;i<book.rating;i++) {%>
              <i class="star_active"></i>
             <%}for(i=book.rating;i<5;i++){%>
               <i class="star_inactive"></i>
              <% } %>
           </div>
           <h4 class="nationality"><%= book.nationality %></h4>
           <h4 class="year"><%= book.year %></h4>
           <p class="description"><%= book.description %></p>
         </div>
        </div>
  
        <div class="section2">
            <a href="/"><button class="btn">Inapoi</button></a>
            <form action="addnote/<%=book.id %>" method="post">
                <textarea type="text" name="noteText" class="inp" placeholder=" Add new note"></textarea>
                <input type="submit" value=">" class="submit">
            </form>
        </div>
  
      </div>
    
    <ul class="notes bookcard">
        <% notes.forEach(note => { if(note.book_id==book.id) {%>
        <li class="notecard">
         <%= note.note_text %>
         <form action="delete/<%= note.book_id %>/<%= note.id %>" method="post"><button type="submit" class="btn delete">Delete</button></form>
        </li>
        <% }}); %>
    </ul>
</body>
</html>